@tailwind base;
@tailwind components;
@tailwind utilities;

.analytics-system-box {
  height: 50vh;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 50%;
  min-width: 300px;
  padding: 10px 10px 10px 10px;
}

svg.scatter {
  background: #fff;
  overflow: visible;
  display: block;
  width: 40vw;
  height: 70vh;
  padding-right: 5px;
  padding-left: 5px;
}

.scatterplot {
  display: flex;
}

.legend {
  order: 1;
}

.checks {
  display: flex;
}

.col2 {
  order: 1;
  padding-left: 3px;
}

.y-axis{
  padding-right: 20px;
}

.buttons{
  display: flex;
  justify-content: space-between;
}

