@tailwind base;
@tailwind components;
@tailwind utilities;

.analytics-system-box {
  height: 50vh;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 50%;
  min-width: 300px;
  padding: 10px 10px 10px 10px;
}

svg {
  background: #fff;
  overflow: visible;
  display: block;
  width: 35vw;
  height: 50vh;
  padding-right: 60px;
}

.scatterplot {
  display: flex;
}

.legend {
  display: flex;
  order: 1;
}

.col2 {
  order: 1
}

.y-axis{
  padding-right: 20px;
}

